{% extends 'base.html.twig' %}


{% block title %}
	Formulaire d'inscription
{% endblock %}


{% block body %}

	<h1 class="text-center">

    Inscription

</h1>

    <div class="container">
		{{form_start(formUser)}}

		{{form_row(formUser.nom, {
                    label: "Nom : "
                })}}
		{{form_row(formUser.prenom, {
                    label: "Prenom : "
                })}}
		{{form_row(formUser.pseudo, {
                    label: "Pseudo : "
                })}}
		{{form_row(formUser.email, {
                    label: "Email : "
                })}}
		{{form_row(formUser.plainPassword, {
                    label: "Mot de passe : "
                })}}
		
        {{form_row(formUser.civilite, {
                    label: "Civilité : "
                })}}
	
		

	<button type="submit" class="btn btn-primary mt-2">
S'inscrire
</button>

{{form_end(formUser)}}
</div>
{% endblock %}
	



